<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：绑定一个对应的Dao/Mapper接口-->
<!--        dao.book.BookMapper-->
<mapper namespace="dao.book.BookMapper">
    <resultMap id="Book" type="Book">
    <result property="bookName" column="proName"/>
    </resultMap>
    <!--select查询语句-->
    <select id="getRelativeBook" resultMap="Book">
        select * from smbms_provider where proDesc like #{bookDesc}  and id != #{id};
    </select>
</mapper>